#resumenPedido{
    margin-top: 47px;
    padding: 20px;
}
#infoPago{
    font-size: 12px;
    font-style: italic;
}
.progress-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px;
    position: relative;
}

.step {
    text-align: center;
    flex: 1;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.activo {
    background-color: #4caf50;
    color: #ffffff;
}

.progress-bar::before {
    content: '';
    background-color: lightgray;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 15px;
    z-index: -1;
}