.card{
    border: none;
}
.card{
    box-shadow: 0px 3px 15px -7px rgba(0, 0, 0, 0.5);

}
#titleCard {
    position: relative;
    transform: translateY(-95%);
    background-color: white;
    height: 40px;
}

#titleCard::before {
    content: '';
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 10px; /* Ajusta el ancho según sea necesario */
    height: 10px; /* Ajusta la altura según sea necesario */
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
#singleItemCardImage{
    height: 280px;
    width: auto;
}
#singleItemCardImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.btnBoard {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
    
.btnBoard:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
  
.btnBoard:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
.fa-arrow-right{
    font-size: 25px;
}
/* #singleItemCard p , #singleItemCard h3{
    font-family: 'Playfair Display', serif;;
} */