*{
    margin: 0;
    padding: 0;
}
#loginCard{
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.half-content{
    height: 600px;
    width: 100%;
   
}
.mitadLogin{
    background-image: url("https://images.pexels.com/photos/447592/pexels-photo-447592.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    filter:brightness(80%);

}
.mitadCreateAccount{
    background-image: url("https://images.pexels.com/photos/2631746/pexels-photo-2631746.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: cover;
    background-position-x:35%;
    background-repeat: none;
    filter:brightness(80%);
}
.slogan{
    width: 250px;
    /* background-color: rgba(255, 255, 255, 0.371); */
    background-color: rgba(255, 255, 255, 0.689);
    filter: brightness(100%) !important;
    height: 250px;
}   
input{
    height: 40px;
    width: 220px;
    border: none;
    border-left: 1px solid black;
}
a{
    text-decoration: none;
}
#createAcount{
    cursor: pointer !important;
}
.fa-user,.fa-key,.fa-at,.fa-location-pin{
    font-size: 22px;
    margin-left: 8px;
}
.input-board{
    height: 50px;
    display: flex;
    align-items: center;
    width: 360px;
    border: 1px solid black;
    border-radius: 5px;
}

#loginCard{
    border-radius: 40px;
    margin-top: 20px;
}
#loginSubmit{
    margin-left: 220px;
}
.fa-arrow-right{
    cursor: pointer;
}
.general-container{
    height:700px;
    display: flex;
    align-items: start;
    justify-content: center;
}


@media (max-width: 470px){
.general-container{
    height:900px !important;
}
.half-content {
    height: 350px !important;
}
#loginCard{
    width: 100% !important;
    margin-top: 20px;
    border: none !important;
}

}