
#paymentBoard input{
    height: 40px;
}
#paymentBoard,#resumenPedido{
    background-color: white !important;
    margin-top: 20px;
}

@media(max-width: 470px){
    #paymentPage{
        display: flex;
        flex-direction: column !important;
    }
}