.text-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }
  
  .divider-line {
    flex-grow: 1;
    height: 1px;
    background-color: #575656 !important;
    margin: 0 10px;
  }
  
  .divider-text {
    font-weight: bold;
  }
  