#announceBoard{
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
#announceBoard p{
    font-family: Neuzeit Office, sans-serif;
    font-size: 14px;
}
.iconTopBar{
    color: white !important;
    font-size: 24px !important;
}
marquee{
    color: white;
}

@media (max-width: 470px){
    #iconsHome{
        justify-content: center !important;
        margin-top: 10px;
        padding-bottom: 10px;
    }
    #announceBoard{
        height: 85px;
    }
}